
/* Style for chrome extension */

.ce-bar {   /* chrome extension bar */
	//border-bottom: 1px solid  #e5e5e5;
	//background-color: white;
	height: 38px;
}

.ce-secure-notice {
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 96px;
	background-color: white;
}

.ce-button { /* Inherited and modified from tne Gmail style buttons */
	-webkit-box-shadow: none;
	-webkit-user-select: none;
	background-color: white;
	border-color:lightgray;
	//background-image: linear-gradient(top,#dd,#f1f1f1);
	//background-image: -ms-linear-gradient(top,#F5F5F5,#f1f1f1);
	//background-image: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	//background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	//border-bottom-color: rgba(0, 0, 0, 0.0980392);
	//border-bottom-color: #dddddd;
	//border-bottom-left-radius: 2px!important;
	//border-bottom-right-radius: 2px!important;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	//border-left-color: rgba(0, 0, 0, 0.0980392);
	//border-left-color: #dddddd;
	border-left-style: solid;
	border-left-width: 1px;
	//border-right-color: rgba(0, 0, 0, 0.0980392);
	//border-right-color: #dddddd;
	border-right-style: solid;
	border-right-width: 1px;
	//border-top-color: rgba(0, 0, 0, 0.0980392);
	//border-top-color: #dddddd;
	//border-top-left-radius: 2px!important;
	//border-top-right-radius: 2px!important;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: none;
	color: #676A6C;
	cursor: default;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 29px;
	line-height: 27px;
	margin-right: 9px;
	margin-top:9px;
	//min-width: 70px;
	outline-color: rgb(68, 68, 68);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

.ce-button:hover {
	background-color: white;
	border-color: #838383;
	color: black;
	//background-image: linear-gradient(top,#F8F8F8,#f1f1f1);
	//background-image: -ms-linear-gradient(top,#F8F8F8,#f1f1f1);
	//background-image: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
	//background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
}

.ce-button:active {
	background-image: linear-gradient(top,#eeeeee,#e0e0e0);
	background-image: -ms-linear-gradient(top,#eeeeee,#e0e0e0);
	background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
	background-image: -moz-linear-gradient(center top , #eeeeee, #e0e0e0);
	border-color: #838383;
}

.ce-menu-dropdown{
	margin-right:7px;
	min-width:200px
}

.ce-menu-dropdown .badge{
	margin-top:3px;
}

.ce-search-bar {
	margin-right:8px;
	margin-left:9px
}

.ce-search-bar button {
	width:32px;
}

.ce-search-bar input{
	border-radius:0!important;
	font-size:13px;
	background-color:white!important;
	border-bottom-right-radius: 3px!important;
	border-top-right-radius: 3px!important;
	border: 1px solid lightgray;
	border-left:none;
}
.ce-search-bar input:hover {
	background-color:white!important;
	border-color:#18a689!important;
}

.ce-search-bar input:focus {
	background-color:white!important;
	border-color:#18a689!important;
}

.ce-search-bar .dropdown-menu {
	width: 252px;
	margin-left:30px;
	border-top-right-radius:0;
	border-top-left-radius:0;
}

.ce-search-bar .dropdown-menu > li > a {
	line-height: 15px;
}

.ce-search-bar .dropdown-header {
	padding-left: 15px;
}

#ce-notifications {
	min-width:0;
}

.ce-profile-name {
	//line-height: 1em;
	color: black;
}

.ce-profile-job {
	//text-transform: uppercase;
	display:block;
}

.ce-profile-location {
	//text-transform: uppercase;
	display: block;
}

.ce-dropdown > .dropdown-menu > li > a {
	line-height: 15px;
}

.ce-footer-logo {
	background-color: gray;
	//position:relative;
	//bottom:10px;
	//right:10px;
}

.ce-footer-logo:hover {
	background-color: #505050;
}

.ce-footer{
	position:fixed;
	bottom:60px;
	border-top:1px solid #dddddd;
	width:100%;
	background-color:#f1f1f1
}

.ce-minimize img {
	background-color: rgb(103, 106, 108);
}

.ce-minimize img:hover {
	background-color: rgb(0,0,0);
}

.ce-initial{
	position: relative;
}

.ce-initial span.text-white{

	position:absolute;
	font-size: 18px;
	left: 8px;
	top: -3px;
	font-family: monospace;

}


/* style for mark */
/* It hasn't got ce prefix because I'm rewriting an html tag style */
/* But I'm not putting it in the regular style because I'm not sure if using it in the web app too */
mark {
	padding:0;
	color:inherit;
	background-color:#dddddd;
}