/* TYPELESS UI LAYOUT */

.tb.tb-main {
	background-color:#f3f3f4;
	height:64px;
	border-bottom:1px solid #e7eaec;
	position: fixed;
	z-index: 5;
}

.tb .tb-left {
	height:64px;
	text-align:center;
	float:left;
}

.tb-left .btn  img{
	width:25px;
}

.tb-left .btn i{
	position: relative;
	top: 5px;
}

.tb-left .btn {
	color: #7f8c8d;
	padding: 4px;
}

.tb .tb-logo {
	width:220px;
	height:64px;
	text-align:center;
	float:left;
}

.tb .tb-logo img {
	width:50%;
	margin-top: 16px;
}

.tb .tb-right {
	height:64px;
	text-align:right;
	float:right;
	margin-right: 15px;
}

.tb-right .tb-bell {
	padding: 20px 10px;
	border-bottom: 3px solid #1abc9c;
	color: #7f8c8d;
	display: inline-block;
}

.tb-bell > a {
	color: #7f8c8d;
}

.tb-bell .badge {
	position: absolute;
	top: 10px;
	right: 5px;
}

.tb-bell:hover {
	background-color: white;
}

.tb-bell ul.notifications{
	width: 450px;
}

.tb-bell ul.notifications *{
	white-space: normal;
}

.tb-bell ul.notifications .timestamp-mobile{
	display: none;
}

.tb-bell ul.notifications .timestamp{
	float: right;
}

.tb-bell ul.notifications .actions{
	margin-top: 10px;
	margin-left: -12px;
}

.tb .tb-search {
	width:auto;
	height:64px;
	text-align:right;
	margin-left:15px;
	padding-top:16px
}

.tb-search .input-group {
	padding-left:15px;
}

.tb-search input {
	border-color: #3498db;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	transition: all .5s;
}

.tb .tb-user {
	margin-left: 15px;
	height: 51px;
	display: inline-block;
}

.tb .tb-user.dropdown > ul{
	max-width:300px
}

.tb .tb-user .dropdown-menu > li > a {
	font-size: 12px;
	font-weight: 700;
	text-transform:uppercase;
}

.tb-user img {
	width: 40px;
	border: 1px solid transparent;
}

.tb-user img:hover, .dropdown.open .dropdown-toggle img{
	border: 1px solid #dddddd;
}

.tb.tb-wrapper {
	position: relative;
	top: 64px;
}

.tb.navbar-default{
	position: fixed;
	top: 64px;
	z-index:1;
	height: 100%;
	border-right: 1px solid #e7eaec;
	/* background-color:#f3f3f4; */
}

.tb.navbar-default .sidebar-collapse .user-menu{
	padding: 10px 15px 0 15px;
}

.tb.navbar-default .sidebar-collapse .footer-menu{
	padding: 0 15px 10px 15px;
}

.tb.navbar-default .sidebar-collapse .footer-menu .copyright{
	position:relative;
	top:2px
}

.tb .tb-right .dropdown-menu {
	right: 0;
	left: auto;
}

.tb.navbar-default .foo {
	position: fixed;
	bottom:0;
	width: 220px;
	background-color: white;
	padding: 10px 12px;
	border-right: 1px solid #e7eaec;
	/* background-color: #f3f3f4; */
}

.tb.navbar-default .foo div{
	display: inline-block;
}

.tb .tb-search .dropdown-menu .results-extended {
	position: absolute;
	left: 300px;
}

.tb .tb-search .dropdown-menu a img {
	height: 60px;
}

.tb .tb-search .dropdown-menu a span.fa-stack {
	font-size: 10px;
	position: absolute;
	left: 18px;
}

/* responsive rules */

@media (max-width: 767px) {
	.tb .tb-logo {
		display: none;
	}
	
	.tb .tb-right .tb-user {
		display: none;
	}
	
	.tb.navbar-default{
		border: none;
	}
	
	.tb.navbar-default .foo {
		display:none;
	}
}

@media (min-width: 768px) {
	.tb .tb-left {
		display: none;
	}
	
	.tb.navbar-default .sidebar-collapse .user-menu{
		display: none;
	}
	
	.tb.navbar-default .sidebar-collapse .footer-menu{
		display: none;
	}
	
	.tb.tb-wrapper {
		margin-left: 220px;
	}
}

@media (max-width:999px) {
	.tb .tb-right .btn span {
		display: none;
	}
}

@media (min-width:1000px){
	.nav#side-menu > li > a {
	  font-weight: 400;
	  font-size: 16px;
	  padding: 12px;
	}
}

@media (max-width:480px) {
	
	.tb .tb-right > .btn {
		display:none;
	}
	
	.tb .tb-search .input-group {
		padding-right: 15px;
	}
	
	.tb-bell ul.notifications .timestamp-mobile{
		display: block;
	}
	
	.tb-bell ul.notifications .timestamp{
		display: none;
	}
	
}

@media (max-width: 767px) {
	.tb.tb-wrapper {
		margin-left: 0;
	}
	.tb.navbar-default{
		width: 100%;
	}
	
	.tb.navbar-default .sidebar-collapse{
		display:none;
	}
	
	.tb.navbar-default .sidebar-collapse {
		border-bottom: 1px solid #dddddd;
		box-shadow: 0px 1px 3px rgba(33, 33, 33, 0.1);
	}
	
}