/* TOPBAR STYLES */

/* Given the mess I did when I grasped my hands on the Inspinia/Bootstrap style-sheets with 0 experience */

.tb.tb-main {
	background-color:#f3f3f4;
	height:64px;
	border-bottom:1px solid #e7eaec;
	position: fixed;
}

.tb .tb-left {
	height:64px;
	text-align:center;
	float:left;
}

.tb-left .btn  img{
	width:25px;
}

.tb-left .btn i{
	position: relative;
	top: 5px;
}

.tb-left .btn {
	color: #7f8c8d;
	padding: 4px;
}

.tb .tb-logo {
	width:220px;
	height:64px;
	text-align:center;
	float:left;
}

.tb .tb-logo img {
	width:50%;
	margin-top: 16px;
}

.tb .tb-right {
	height:64px;
	text-align:right;
	float:right;
	margin-right: 15px;
}

.tb-right .tb-bell {
	line-height: 64px;
	padding: 20px 10px;
	border-bottom: 3px solid #1abc9c;
	color: #7f8c8d;
	position:relative;
}

.tb-bell:hover {
	background-color: white;
}

.tb-bell .badge {
	position: absolute;
	top: 10px;
	right: 0px;
}

.tb .tb-search {
	width:auto;
	height:64px;
	text-align:right;
	margin-left:15px;
	padding-top:16px
}

.tb-search .input-group {
	padding-left:15px;
}

.tb-search input {
	border-color: #3498db;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	transition: all .5s;
}

.tb .tb-user {
	margin-left: 15px;
}

.tb-user img {
	width: 40px;
	border: 1px solid transparent;
}

.tb-user img:hover {
	border: 1px solid #dddddd;
}

.tb.tb-wrapper {
	position: relative;
	top: 64px;
}

.tb.navbar-default{
	position: fixed;
	top: 64px;
	z-index:1;
}

/* responsive rules */

@media (max-width: 767px) {
	.tb .tb-logo {
		display: none;
	}
}

@media (min-width: 768px) {
	.tb .tb-left {
		display: none;
	}
}

@media (max-width:999px) {
	.tb .tb-right .btn span {
		display: none;
	}
}

@media (max-width:480px) {
	
	.tb .tb-right .btn {
		display:none;
	}
	
	.tb .tb-search .input-group {
		padding-right: 15px;
	}
	
}

@media (max-width: 767px) {
	.tb.tb-wrapper {
		margin-left: 0;
	}
	.tb.navbar-default{
		width: 100%;
	}
	
	.tb.navbar-default .sidebar-collapse{
		display:none;
	}
	
	.tb.navbar-default ul.nav {
		border-bottom: 1px solid #dddddd;
		box-shadow: 0px 1px 3px rgba(33, 33, 33, 0.1);
	}
	
}

@media (min-width: 768px) {
	.tb.tb-wrapper {
		margin-left: 220px;
	}
}