
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);
 
body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

a {
	cursor: pointer;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

.full {
    /* background: url('../fotolia_63272661.png') no-repeat center center fixed; */
    background: url('../bg-3.jpg') no-repeat center center fixed;
	/* background-color: rgba(128,128,128, 0.7); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.footer-title {
	font-size: 16px;
	font-weight:bold;
	text-transform:uppercase;
	color: #2f2f2f;
	margin-bottom: 20px;
}

.footer-p {
	font-size: 12px;
	color: #2f2f2f;
}

.footer-small {
	font-size: 10px;
}

.footer-link {
	color: #2f2f2f;
	transition: all 1s;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-2nd {
	margin-bottom: 15px;
}

.footer-bg {
	background-image: url("/typeless/img/footer-bg.png");
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
	bottom:0;
	background-color: #eeeeee;
	z-index: -1;
}

.white-bg {
	background-color: white;
	width: 100%;
	position: absolute;
	left:0;
	z-index: -1;
	height: 700px;
}

.navbar-default{
	background-color: white;
	box-shadow: 0 0 5px 0 rgba(1,1,1,.5);
	border-width: 0;
	min-height: 0;
}

.navbar-nav>li>a {
	line-height: 100px;
	padding:0;
	margin-left:30px;
	text-transform: uppercase;
	font-weight: 700;
	background-color: white!important;
	transition: all .5s;
}

.navbar-toggle {
	border: 1px solid #3498db!important;
	font-size: 16px;
	border-radius: 32px;
	color: #3498db;
}

.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus{
	color: white!important;
	background-color: #3498db!important;
	transition: all .5s;
	border:1px solid transparent!important;
}

.navbar-brand {
	padding-top:0;
	padding-bottom:0;
	transition: all 1s;
}

.grayed-out {
	background-image: -webkit-linear-gradient(top, #f1f1f1 80%, white 100%);
    background-image:      -o-linear-gradient(top, #f1f1f1 80%, white 100%);
    background-image:         linear-gradient(to bottom, #f1f1f1 80%, white 100%);
	position:absolute;
	width:100%;
	z-index:-1000;
}

.sentence {
	font-weight: 500;
	transition: all .5s;
	color: white;
	opacity: .85;
	/* text-shadow: 2px 2px 10px rgba(1,1,1,.33); */
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.get-started {
	display: inline-block;
	text-align: center;
}

.get-started input {
	height: 58px;
	border-radius: 4px;
}

.btn-get-started {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	padding: 18px 25px;
	//border:solid 3px transparent!important;
	border:none!important;
	background-color: #0086FF;
	//transition: all .5s;
}

.btn-get-started:hover {
	box-shadow: 0px 0px 0px 1px white inset;
	/* background-color: #56afff; */
	background-color: #007bea;
}

.get-started-text{
	color: white;
}

.subline {
	font-weight:700;
	text-transform:uppercase;
	color:#f1c40f;
	opacity: .85;
	line-height: normal;
}

.btn-circle {
	transition: all .5s;
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}

.btn-white {
	border-color:white;
	background-color: transparent;
	color: white;
	transition: all .5s;
}

.btn-white:focus,.btn-white:active,.btn-white:hover {
	border-color:white;
	background-color: white;
	color: black;
}

a.moveSection {
	color: white;
	opacity: .4;
	transition: all .5s;
	font-size: 18px;
	position: relative;
	left: 5px;
}

a.moveSection:hover {
	opacity: 1;
	color:white;
}


.feature-title {
	font-size: 20px;
	font-weight: 600;
	text-transform:uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
}

.feature-description {
	font-weight: normal;
	color: #666666;
	font-size: 14px;
	margin-bottom: 40px;
}

.dropdown-menu.filter .expand{
	margin-right: 40px;
	margin-left: 5px;
}

.dropdown-menu.filter a{
	font-size: 12px;
}

.dropdown-menu.filter .label{
	position: absolute;
	right: 5px;
	margin-top:2px;
}

.btn-action {
	background-color: transparent;
	transition: all .1s;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
	outline:0!important;
}

.btn-action:hover {
	border-color:#c6c6c6!important;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,.2);
	box-shadow:0 1px 1px rgba(0,0,0,.2);
	background-image:-webkit-linear-gradient(top,rgba(248,248,248,.5),rgba(241,241,241,.5));
	background-image:-moz-linear-gradient(top,rgba(248,248,248,.5),rgba(241,241,241,.5));
	background-image:-ms-linear-gradient(top,rgba(248,248,248,.5),rgba(241,241,241,.5));
	background-image:-o-linear-gradient(top,rgba(248,248,248,.5),rgba(241,241,241,.5));
	background-image:linear-gradient(top,rgba(248,248,248,.5),rgba(241,241,241,.5));
}

.btn-action:active,
.btn-action.active {
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	border-color:#c6c6c6!important;
	background-color:rgba(0,0,0,.05);
}

.btn-action:focus {
	border-color: #c6c6c6!important;
}

.tooltip {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	
}

.tooltip .tooltip-inner {
	background-color: ;
	opacity: .5;
}

.tooltip .tooltip-arrow {
	display:none;
}

.title-small {
	font-weight: normal;
	color: #666666;
	font-size: 18px;
	margin-top: 0;
}

.service-icons {
	margin-top: 15px;
}

.service-icons img {
	width: 9%;
}

.service-icons img:not(:first-child) {
	margin-left: 2.5%;
}

.number-contacts {
	font-weight: 200;
	font-size: 48px;
	color: #e74c3c;
	margin-top: -15px;
}
.contacts {
	position: absolute;
	font-weight: 200;
	color:#e74c3c;
	font-size: 24px;
	margin-top: -10px;
	margin-right: 15px;
	right: 0;
}

.trusted-with {
	text-align: right;
	position:relative;
}

.security-badge {
	text-align: right;
	position:relative;
}

.testimonials {
	margin-top: 40px;
}

.testimonial {
	margin-top: 15px;
	text-align: center;
}

.testimonial .quote{
	font-weight: 200;
	font-size: 24px;
	margin-top: 15px;
	color: #666666;
}

.author {
	font-size: 14px;
	text-transform:uppercase;
	font-weight: 600;
	text-align: center;
	margin-top:20px;
	color: #666666;
}

.subline a {
	/* color:#f1c40f; */
	color: white;
	display:inline-block;
	border-bottom: 1px solid white;
	transition: all .5s;
}

.subline a:hover {
	text-decoration: none;
	color: #f1c40f;
	border-color: #f1c40f;
}

.works-with {
	margin-top: 40px;
}

.trusted-with {
	margin-top: 40px;
}

.security-badge {
	margin-top: 40px;
}

.step {
	margin-top: 40px;
}

.step .row {
	margin-top: 40px;
}

.navbar-default .dropdown-menu a{
	font-weight: 700;
	text-transform: uppercase;
	color: #777;
	font-size: 11px;
}

.blog a:hover {
	border-bottom: 1px solid #7f8c8d;
}

.full-height {
	position: relative;
}

#fp-nav > ul > li > a > span, #fp-nav > ul > li > a:hover > span, #fp-nav > ul > li > a.active > span, #fp-nav > ul > li:hover > a.active > span {
	background-color: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	opacity: .4;
}

#fp-nav > ul > li > a.active > span, #fp-nav > ul > li:hover > a.active > span {
	background-color: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	opacity: 1;
}

.fp-tableCell > .container {

}

.step-title {
	font-size: 60px;
	color: white;
	font-weight: 700;
	/* margin-top: 50px; */
	text-transform: uppercase;
}

.step-sub {
	font-size: 48px;
	color: white;
	font-weight: 100;
	text-transform: uppercase;
}

.step-img {
	/* margin-top: 50px; */
}

.step-img-sub{
	margin-top: 50px;
	font-size: 24px;
	font-weight: 300;
	color: white;
}

.row.faqs {
	margin-top: 60px;
}

.faqs .panel {
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,.2);
	background-color: transparent;
	margin-bottom: 30px;
}

.faqs .brick:first-child .panel:not(*:root) { /* hack for chrome  ;) http://browserhacks.com/#ch  */
	margin-top: 20px;
}

.faqs .panel-heading {
	padding: 20px 40px;
	background-color: rgba(255,255,255,.85);
}

.faqs .panel-title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.faqs .panel-body{
	padding: 20px 40px;
	background-color: white;

}

.faqs .panel-body p:not(.lead){
	text-align: justify;
}

.masonry {
	-moz-column-width: 360px;
	-webkit-column-width: 360px;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-width:360px;
	column-gap:30px;
	margin-right: 0;
	margin-left: 0;
}

.masonry .brick {
	display: inline-block;
	width: 100%;
}

.text-blue {
	color: #3498db;
}
.text-green {
	color: #1abc9c;
}
.text-red {
	color: #e74c3c;
}
.text-yellow {
	color: #f1c40f;
}
.text-orange {
	color: #e67e22;
}
.text-navy {
	color: #2c3e50;
}

.row.teams {
	margin-top: 180px;
	margin-bottom: 360px;
}

.teams h2 {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.teams .super {
	font-size: 48px;
	font-weight: 600;
	margin-top: 0;
}

.teams .sub {
	font-size: 16px;
}

.teams .label {
	font-size: 13px;
	background-color: #e74c3c;
	position: absolute;
	top: -20px;
}

.container.downloads {
	margin-top: 40px;
}

.downloads .download {
	margin-bottom: 40px;
}

.download .btn {
	padding: 10px 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	background-color: transparent;
	color: #3498db;
	border-color: #3498db;
	transition: all .5s;
}

.download .btn:hover {
	background-color: #3498db;
	color: white;
	border-color: transparent;
}

.download .label {
	background-color: #cccccc;
}

.download h2 {
	margin-bottom: 20px;
	font-weight: 300;
}

img.img-grayscale {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

textarea.contact{
	resize: vertical;
	width: 100%;
	overflow: auto;
	outline: none;
	border: none;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

#contact-modal .modal-footer div.pull-left {
	width:45%;
	display:inline-block;
}

iframe.gmap {
	margin-bottom: 15px;
	border: 1px solid rgba(1,1,1,.3);
	width: 100%;
	height: 100px;
}

.cookies {
	position: fixed;
	bottom: 0;
	background-color: #f9f9f9;
	border: 1px solid #dddddd;
	font-size: 12px;
	font-weight: 600;
	z-index: 1;
	margin: 10px;
}

@media (min-width: 768px) {
	body {
		padding-top: 100px;
	}
	
	.navbar-default{
		/* border: none; */
		/* opacity:.9; */
	}
	
	.navbar-nav>li:last-child>a {
		margin-right:15px;
	}
	
	.hover-blue:hover, .hover-blue:active, .hover-blue:focus, .navbar-nav>li.active>.hover-blue {
		box-shadow: inset #3498db 0 -5px 0 0;
		color: #3498db!important;
	}

	.hover-green:hover, .hover-green:active, .hover-green:focus, .navbar-nav>li.active>.hover-green {
		box-shadow: inset #1abc9c 0 -5px 0 0;
		color: #1abc9c!important;
	}

	.hover-red:hover, .hover-red:active, .hover-red:focus, .navbar-nav>li.active>.hover-red {
		box-shadow: inset #e74c3c 0 -5px 0 0;
		color: #e74c3c!important;
	}
	
	.hover-yellow:hover, .hover-yellow:active, .hover-yellow:focus, .navbar-nav>li.active>.hover-yellow {
		box-shadow: inset #f1c40f 0 -5px 0 0;
		color: #f1c40f!important;
	}
	
	.hover-navy:hover, .hover-navy:active, .hover-navy:focus, .navbar-nav>li.active>.hover-navy {
		box-shadow: inset #2c3e50 0 -5px 0 0;
		color: #2c3e50!important;
	}
	
	.grayed-out {
		height: 625px;
	}

	.aboutus {
		text-align: left;
	}
	
	.logo {
		text-align: center;
	}
	
	.blog {
		text-align: center;
	}
	
	.getintouch {
		text-align: right;
	}
	
}

@media (max-width: 767px) {
	body {
		padding-top: 58px;
	}
	
	.navbar-nav>li>a {
		line-height: 50px;
		
	}
	
	.hover-blue:hover, .hover-blue:active, .hover-blue:focus, .navbar-nav>li.active>.hover-blue {
		box-shadow: inset #3498db -5px 0 0 0;
		color: #3498db!important;
	}

	.hover-green:hover, .hover-green:active, .hover-green:focus, .navbar-nav>li.active>.hover-green {
		box-shadow: inset #1abc9c -5px 0 0 0;
		color: #1abc9c!important;
	}

	.hover-red:hover, .hover-red:active, .hover-red:focus, .navbar-nav>li.active>.hover-red {
		box-shadow: inset #e74c3c -5px 0 0 0 ;
		color: #e74c3c!important;
	}
	
	.hover-yellow:hover, .hover-yellow:active, .hover-yellow:focus, .navbar-nav>li.active>.hover-yellow {
		box-shadow: inset #f1c40f -5px 0 0 0 ;
		color: #f1c40f!important;
	}
	
	.hover-navy:hover, .hover-navy:active, .hover-navy:focus, .navbar-nav>li.active>.hover-navy {
		box-shadow: inset #2c3e50 -5px 0 0 0 ;
		color: #2c3e50!important;
	}

	.grayed-out {
		height: 400px;
	}
	
}

/* media queries adjusted for container changes (767 px and less, 768 to 991 px, 992 to 1199px, 1200 px and more) */

@media (min-width:1200px) {
	
	.navbar-brand {
		height:100px;
	}

	.navbar-brand img {
		height:50%;
		margin-top: 15%;
	}
	
	.feature-img {
		width: 50%;
	}

	.logo>img:nth-child(1) {
		width: 20%;
		margin-top: 40px;
	}
	
	.logo>img:nth-child(3) {
		width: 40%;
		margin-top:10px;
	}

	.sentence {
		font-size: 60px;
		line-height: 60px;
		margin-top: 100px;
	}
	
	.get-started {
		margin-top: 40px;
		margin-bottom: 40px;
	}	
	
	footer {
		margin-bottom: 50px;
		margin-top: 150px;
	}
	
	.subline {
		font-size:18px;
		margin-bottom: 40px;
		margin-top: 30px;
	}
	
	#carousel-steps .carousel-inner .item {
		padding-top: 200px;
	}
	
	#carousel-steps {
		margin-top: -325px;
	}
	
}

@media (min-width:992px) and (max-width:1199px) {

	.navbar-brand {
		height:100px;
	}

	.navbar-brand img {
		height:50%;
		margin-top: 15%;
	}
	
	
	.feature-img {
		width: 50%;
	}

	.logo>img:nth-child(1) {
		width: 25%;
		margin-top: 40px;
	}
	
	.logo>img:nth-child(3) {
		width: 50%;
		margin-top:10px;
	}

	.sentence {
		font-size: 48px;
		line-height: 48px;
		margin-top: 60px;
	}
	
	.subline {
		font-size:16px;
		margin-bottom: 40px;
		margin-top: 30px;
	}
	
	.get-started {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	footer {
		margin-bottom: 50px;
		margin-top: 150px;
	}
	
	#carousel-steps .carousel-inner .item {
		padding-top: 200px;
	}
	
	#carousel-steps {
		margin-top: -286.5px;
	}
	
	.step-img-sub {
		font-size: 20px;
		margin-top: 40px;
	}
	
	.row.teams {
		margin-top: 80px;
		margin-bottom: 240px;
	}
	
	.teams .super {
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.navbar-brand {
		height:100px;
	}

	.navbar-brand img {
		height: 40%;
		margin-top: 22.5%;
	}
	
	.navbar-nav>li>a {
		font-size: 11px;
	}
	
	.feature-img {
		width: 33%;
	}

	.logo>img:nth-child(1) {
		width: 33%;
		margin-top: 40px;
	}
	
	.logo>img:nth-child(3) {
		width: 66%;
		margin-top:8px;
	}

	.sentence {
		font-size: 42px;
		line-height: 56px;
		margin-top: 60px;
	}
	
	.subline {
		font-size:14px;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	
	.get-started {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	footer {
		margin-bottom: 50px;
		margin-top: 150px;
	}
	
	#carousel-steps .carousel-inner .item {
		padding-top: 200px;
	}

	#carousel-steps {
		margin-top: -244px;
	}	
	
	.step-img-sub {
		font-size: 20px;
		margin-top: 20px;
	}
	
	.step-sub {
		font-size: 36px;
	}
	
	.step-title {
		font-size: 48px;
	}
	
	.step-img {
		margin-top: 40px;
	}

	.row.teams {
		margin-top: 80px;
		margin-bottom: 240px;
	}
		
	.teams .super {
		margin-bottom: 40px;
	}
	
	.teams .row.text {
		margin-bottom: 40px
	}
	
		
	.download p{
		margin-top: 20px;
	}

}

@media (max-width: 767px) {

	.navbar-brand {
		height:50px;
	}

	.navbar-brand img {
		height:75%;
		margin-top: 9%;
	}
	
	.feature-img {
		width: 50%;
	}
	
	.sentence {
		font-size: 36px;
		line-height: 40px;
		margin-top: 30px;
	}
	
	.get-started {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	footer {
		margin-bottom: 0px;
		margin-top: 80px;
	}
	
	.subline {
		font-size:14px;
		margin-bottom: 20px;
		margin-top: 30px;
	}
	.trusted-with {
		margin-top: 40px;
		text-align: left;
	}
	.security-badge {
		margin-top: 40px;
		text-align: left;
	}
	
	.testimonial {
		text-align: left;
	}
	
	.author {
		text-align: left;
	}
	
	.contacts {
		margin-left: 15px;
		left: 0;
	}
	
	#getintouch {
		margin-top: 40px;
	}
	
	.navbar-default .dropdown-menu{
		margin-left: 30px;		
	}
	
	.step-title {
		font-size: 36px;
		margin-bottom:0;
		margin-top: 10px;
	}
	
	.step-sub {
		font-size: 30px;
		margin-bottom: 20px;
		margin-top: 0;
	}
	
	.step-img-sub {
		font-size: 16px;
		margin-top: 20px;
	}
	
	.fp-section {
		padding-top: 58px!important;
	}
	
	#fp-nav {
		display: none;
	}
	
	.faqs .panel-body {
		font-size: 13px;
	}
	
	.row.faqs {
		margin-top: 40px;
	}
	
	.row.teams {
		margin-top: 40px;
		margin-bottom: 0px;
	}
		
	.teams .super {
		margin-bottom: 40px;
	}
		
	.teams .row.text {
		margin-bottom: 40px
	}
	
	.download p{
		margin-top: 20px;
	}
}

@media (max-height: 479px) {

	.step-img {
		display:none;
	}
	
}

}